:root {
    --darkbackground-color: #1F2937;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, Tahoma;
    margin: 0;
    padding: 0;
}
/* header styles */
.header-section {
    background-color: var(--darkbackground-color);
    height: 60px;
    width: 100%;
    color: white;
    padding: 10px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
 }

h1 {
    padding-left: 30px;
    font-size: 30px;
    
}
li {
    list-style: none;
    padding-right: 50px;
    font-size: 18px;
    margin-top: 10px;
    
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: burlywood;
}
/* end of header styles */

/* About Styles */
.about-container {
   background-color: var(--darkbackground-color);
   color: white;
   height: 300px;
   display: flex;
   justify-content: center;

}
.text-content{
    padding: 20px;  
    max-width: 500px;
    font-size: 130%;
}
.image-content {
   height:300px;
   width: 300px;
}
#about-img {
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 100%;
}
#about-p {
    opacity: 60%;
}

/* End of about styles */
